{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "insert_final_newline": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "max_line_length": 120,
  "printWidth": 80,
  "endOfLine": "lf"
}
