@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
* {
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}

.container {
    padding: 20px 100px;
    background-color: rgb(253, 255, 255);
}

.content {
    margin: 9.2vh 10.8vw 5.2vh 11.8vw;
 
}
.content-items {
    width: 100%;
    display: flex;
    
}

.video-container {
    padding: 20px;
    width: 40%;
}


.videoSample {
    width: 100%;
    height: auto;
    padding: 60px 5px 30px 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}


.text-container {
    margin-left: 40px;
    margin-top: 50px;
}

.text-container h2 {
    font-weight: 700;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    line-height: 5.4vh;
    padding-bottom: 0;
    margin-bottom: 1.5vh;
}

.text {
    margin: 1.5vh 0;
}

video{
    position: relative;
}

video::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    background-image: url('../assets/icons/playButton.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

.text p {
    font-style: normal;
    font-weight: 400;
    font-size: 2px;
    line-height: 5vh;
    letter-spacing: 0.8px;
    color: #919FAE;
}

@media only screen and (max-width: 750px) {
    .content-items {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
  }