* {
  padding: 0;
  margin: 0;
}
* h3 {
  padding: 30px 0;
}

.footer-container > * {
  font-family: "Open Sans";
}

.footer-container {
  margin-top: 15px;
  padding: 60px 20px 30px 20px;
  background-color: #f9f9f9;
}

.footer-content {
  display: block;
  width: 80%;
  margin: auto;
}

.footer-content-item {
  display: flex;
  flex-direction: column;
  margin: 72px auto 20 auto;
}

.footer-row1 {
  display: flex;
  flex: none;
  padding-bottom: 40px;

  justify-content: space-between;
  border-bottom: 1px solid #e6e6e7;
}

.footer-row1-col1 {
  width: 30%;
}

.footer-row1-col2 p {
  align-items: center;
  letter-spacing: 0.25px;
  color: #3a4e50;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}

.footer-row1-col3 p {
  align-items: center;
  letter-spacing: 0.25sspx;
  color: #3a4e50;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}

.footer-row1-col1-row2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #0c101a;
}

.footer-row1-col1-row3 {
  padding: 20px 0;
}

.footer-row1-col1-row3 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.footer-row2 {
  padding: 30px 0 0 0;
}
.footer-row2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #0c101a;
  letter-spacing: 0.3px;
}

.button-group {
  display: flex;
  flex: none;
  justify-content: space-around;
}

.image-button {
  padding-top: 4px;
  background-color: white;
  width: 35px;
  height: 35px;
  margin: 0 20px 0 0;
  border: 1px solid #e6e6e7;
  border-radius: 8px;
  cursor: pointer;
}

.image-button img {
  width: auto;
  height: 12.4px;
}

@media only screen and (max-width: 900px) {
  .footer-row1 {
    flex-wrap: wrap;
  }
}
